@import "node_modules/bootstrap/scss/bootstrap";
@import "bower_components/fontawesome/web-fonts-with-css/scss/fontawesome";
@import "https://fonts.googleapis.com/css?family=Lato|Open+Sans";
@import "settings.scss";
//
* {
  outline: 1px solid lime;
}

// reset
body {
  font-family: $font-content;
  color: $color-white;
  h1, h2 ,h3, h4, h4, h5, h6 {
    font-family: $font-headings;
  }
}
div, section, article {
  height: 100%;
}
//Crea clases para titulos y contenidos
@each $value in $text {
  #{nth($value, 1)} {
    font-family: $font-content;
    font-size: #{nth($value, 2)};
    color: $color-white;
  }
}

//
@import "responsivos.scss";
