@import "node_modules/bootstrap/scss/bootstrap";
@import "bower_components/fontawesome/web-fonts-with-css/scss/fontawesome";
// @import "bower_components/fontawesome/web-fonts-with-css/scss/fa-brands";
@import "bower_components/fontawesome/web-fonts-with-css/scss/fa-solid";
@import "bower_components/fontawesome/web-fonts-with-css/scss/fa-regular";
@import "https://fonts.googleapis.com/css?family=Lato|Open+Sans";
@import "settings.scss";
//
* {
  outline: 1px solid $color-light;
}
$fa-font-path: "../bower_components/fontawesome/web-fonts-with-css/webfonts";
// general reset
body {
  font-family: $font-content;
  color: $color-white;
  h1, h2 ,h3, h4, h4, h5, h6 {
    font-family: $font-headings;
  }
}
div, section, article {
  height: 100%;
}
//Iteracion para crear clases (los arrays se encuentran en settings.scss)
//Crea clases para titulos y contenidos
@each $value in $texts {
  .text-#{nth($value, 1)} {
    & {
      font-family: $font-content;
      font-size: #{nth($value, 2)};
      color: $color-white;
    }
  }
}
//Crea clases de color
@each $value in $colors {
  // color textos
  .color-#{nth($value,1)} {
    & {
      color:#{nth($value, 2)};
    }
  }
  // color fondos
  .bg-#{nth($value,1)} {
    & {
      background-color: #{nth($value, 2)};
    }
  }
}

////template mantenimiento
#maintenance {
  height: 100vh;
  width: 100vw;
  background-color: $color-dark;
  .logo-landing {
    @extend .h-a;
    margin-bottom: 33.5px;
    img {
      height:75px;
      width:auto;
    }
  }
  h1 {
    margin-bottom: 58.5px;
    font-weight: bold;
  }
  form {
    margin-top: 16px;
  }
  .social {
    margin-top: 16px;
  }
  .footer-landing {
    padding: 16px 0;
    position: fixed;
    left:0;
    bottom: 0;
    span {
      font-weight: bolder;
    }
  }
}
// fin template mantenimiento
.h-a {height: auto;}
.w-a {width: auto !important;}

//
@import "responsivos.scss";
