@import "node_modules/bootstrap/scss/bootstrap";
@import "bower_components/fontawesome/web-fonts-with-css/scss/fontawesome";
@import "https://fonts.googleapis.com/css?family=Lato|Open+Sans";
@import "settings.scss";
//
* {
  outline: 1px solid $color-light;
}

// reset
body {
  font-family: $font-content;
  color: $color-white;
  h1, h2 ,h3, h4, h4, h5, h6 {
    font-family: $font-headings;
  }
}
div, section, article {
  height: 100%;
}
//Iteracion para crear clases (los arrays se encuentran en settings.scss)
//Crea clases para titulos y contenidos
@each $value in $texts {
  .text-#{nth($value, 1)} {
    & {
      font-family: $font-content;
      font-size: #{nth($value, 2)};
      color: $color-white;
    }
  }
}
//Crea clases de color
@each $value in $colors {
  // textos
  .color-#{nth($value,1)} {
    & {
      color:#{nth($value, 2)};
    }
  }
  // fondos
  .bg-#{nth($value,1)} {
    & {
      background-color: #{nth($value, 2)};
    }
  }
}
//
.h-a {
  height: auto;
}
////template mantenimiento
#maintenance {
  height: 100vh;
  width: 100vw;
  background-color: $color-dark;
  h1 {
    @extend .text-title1;
  }
}
// fin template mantenimiento


//
@import "responsivos.scss";
