//Colors
$color-black: #000;
$color-white: #fff;
$color-light: #ddd;
$color-dark: #351535;
$color-gradient-1: #a234d5;
$color-gradient-2: #d74059;
$color-button-1: #7a4488;
$color-button-2: #d74059;
$color-social-1: gray;

$colors: (
black $color-black,
white $color-white,
light $color-light,
dark $color-dark,
gradient-1 $color-gradient-1,
gradient-2 $color-gradient-2,
button-1 $color-button-1,
button-2 $color-button-2,
social-1 $color-social-1
);

// Fonts
$font-content: 'Open Sans', sans-serif;
$font-headings: 'Lato', sans-serif;
$text-title1: 32px;
$text-title2: 28px;
$text-title3: 24.5px;
$text-p1: 18px;
$text-p2: 16px;
$text-p3: 14px;
$text-link-active: 14.5px;
$text-link: 14.5px;

$texts: (
title1 $text-title1,
title2 $text-title2,
title3 $text-title3,
p1 $text-p1,
p2 $text-p2,
p3 $text-p3,
link-active $text-link-active,
link $text-link
);

//mixins
@mixin prefix($name, $argument) {
  -webkit-#{$name}: #{$argument};
  -ms-#{$name}: #{$argument};
  -moz-#{$name}: #{$argument};
  -o-#{$name}: #{$argument};
  #{$name}: #{$argument};
}

@mixin linear-gradient($type,$fromColor, $toColor) {
  background-color: $toColor; /* Fallback Color */
  background-image: -webkit-gradient($type, left, right, from($fromColor), to($toColor));
  background-image: -webkit-linear-gradient($type, $fromColor, $toColor);
  background-image:    -moz-linear-gradient($type, $fromColor, $toColor);
  background-image:     -ms-linear-gradient($type, $fromColor, $toColor);
  background-image:      -o-linear-gradient($type, $fromColor, $toColor);
  background-image:         linear-gradient($type, $fromColor, $toColor);
}

// radial-gradient(circle at 50% 0%, #a234d5, #d74059)
@mixin radial-gradient($percent1, $percent2, $fromColor, $toColor) {
  background-color: $toColor; /* Fallback */
  background-image: -webkit-gradient(circle, left top, left bottom, from($fromColor), to($toColor)) !important;
  background-image: -webkit-radial-gradient(circle at $percent1 $percent2, $fromColor, $toColor) !important;
  background-image:    -moz-radial-gradient(circle at $percent1 $percent2, $fromColor, $toColor) !important;
  background-image:     -ms-radial-gradient(circle at $percent1 $percent2, $fromColor, $toColor) !important;
  background-image:      -o-radial-gradient(circle at $percent1 $percent2, $fromColor, $toColor) !important;
  background-image:         radial-gradient(circle at $percent1 $percent2, $fromColor, $toColor) !important;
}
