//Colors
$color-black: #000;
$color-white: #fff;
$color-light: #ddd;
$color-dark: #351535;
$color-gradient-1: #a234d5;
$color-gradient-2: #d74059;
$color-button-1: #7a4488;
$color-button-2: #d74059;

$colors: (
black $color-black,
white $color-white,
light $color-light,
dark $color-dark,
gradient-1 $color-gradient-1,
gradient-2 $color-gradient-2,
button-1 $color-button-1,
button-2 $color-button-2
);

// Fonts
$font-content: 'Open Sans', sans-serif;
$font-headings: 'Lato', sans-serif;
$text-title1: 28px;
$text-title2: 24px;
$text-title3: 22.5px;
$text-p1: 14px;
$text-p2: 11px;
$text-p3: 10px;
$text-link-active: 12.5px;
$text-link: 12.5px;

$texts: (
title1 $text-title1,
title2 $text-title2,
title3 $text-title3,
p1 $text-p1,
p2 $text-p2,
p3 $text-p3,
link-active $text-link-active,
link $text-link
);

//mixins
@mixin prefix($name, $argument) {
  -webkit-#{$name}: #{$argument};
  -ms-#{$name}: #{$argument};
  -moz-#{$name}: #{$argument};
  -o-#{$name}: #{$argument};
  #{$name}: #{$argument};
}

@mixin linear-gradient($fromColor, $toColor) {
  background-color: $toColor; /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from($fromColor), to($toColor));
  background-image: -webkit-linear-gradient(top, $fromColor, $toColor);
  background-image:    -moz-linear-gradient(top, $fromColor, $toColor);
  background-image:     -ms-linear-gradient(top, $fromColor, $toColor);
  background-image:      -o-linear-gradient(top, $fromColor, $toColor);
  background-image:         linear-gradient(top, $fromColor, $toColor);
}

// radial-gradient(circle at 50% 0%, #a234d5, #d74059)
@mixin radial-gradient($percent1, $percent2, $fromColor, $toColor) {
  background-color: $toColor; /* Fallback */
  background-image: -webkit-gradient(circle, left top, left bottom, from($fromColor), to($toColor));
  background-image: -webkit-radial-gradient(circle at $percent1 $percent2, $fromColor, $toColor);
  background-image:    -moz-radial-gradient(circle at $percent1 $percent2, $fromColor, $toColor);
  background-image:     -ms-radial-gradient(circle at $percent1 $percent2, $fromColor, $toColor);
  background-image:      -o-radial-gradient(circle at $percent1 $percent2, $fromColor, $toColor);
  background-image:         radial-gradient(circle at $percent1 $percent2, $fromColor, $toColor);
}
